//primary color
$primary-color50: #E3F2FD;
$primary-color100: #BBDEFB;
$primary-color200: #90CAF9;
$primary-color300: #64B5F6;
$primary-color400: #42A5F5;
$primary-color500: #2196F3;
$primary-color600: #1E88E5;
$primary-color700: #1976D2;
$primary-color800: #1565C0;
$primary-color900: #0D47A1;
//primary color accent
$primary-colorA100: #82B1FF;
$primary-colorA200: #448AFF;
$primary-colorA400: #2979FF;
$primary-colorA700: #2962FF;
//secondary color
$secondary-color50: #FFEBEE;
$secondary-color100: #FFCDD2;
$secondary-color200: #EF9A9A;
$secondary-color300: #E57373;
$secondary-color400: #EF5350;
$secondary-color500: #F44336;
$secondary-color600: #E53935;
$secondary-color700: #D32F2F;
$secondary-color800: #C62828;
$secondary-color900: #B71C1C;
//secondary color accent
$secondary-colorA100: #FF8A80;
$secondary-colorA200: #FF5252;
$secondary-colorA400: #FF1744;
$secondary-colorA700: #D50000;