@import 'normalize/import-now';
@import 'colorpalette';
$nav-width: 50%;
$wrapper-width: 100% - $nav-width;

* {
  font-family: "Roboto",sans-serif;
}
body {
  overflow-x: hidden;
}
nav {
  display: flex;
  display: none;
  flex-flow: column nowrap;
  position: fixed;
  overflow: auto;
  width: $nav-width;
  height: 100%;
  background-color: #424242;
  // -webkit-transition: all .5s ease;
  // -moz-transition: all .5s ease;
  // -ms-transition: all .5s ease;
  // -o-transition: all .5s ease;
  // transition: all .5s ease;
  h2 {
    margin: 3px 5px 5px 10px;
    color: #eee;
  }
  a {
    button {
      display: flex;
      width: 100%;
      height: 60px !important;
      text-decoration: none;
      color: #eee !important;
    }
    i {
      color: #eee;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
  }
}
//---------   animation classes   -------------------
.open-drawer {
  display: flex;
}
.move-wrap {
  margin-left: $nav-width;
}
//----------
.wrapper {
  width: 100%;
  header{
    position: fixed;
    top: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-item: center;
    height: 3.5em;
    i {
      cursor: pointer;
      display: inline-block;
      width: 50px;
      color: #eeeded;
      margin-left: 16px;
    }
  }
  main {
    width: 100%;
    background-color: #eeeded;
    .about,.blog,.skills,.project,.contact {
      padding: 0 16px;
    }
    .about {
      display: flex;
      flex-direction: column;
      height: 48em;
      padding-top: 4em;
      background: url(../img/heroimage2.jpg) #111 fixed no-repeat;
      background-size: 2000px;
      background-position: 30% 60%;
      h1, h2, p {
        color: #eee;
        margin: 0;
        font-weight: bold;
        text-shadow: 0px 0px 3px #000;
      }
      h1 {
        font-size: 4em;
        margin-top: 15px;
      }
      h2 {
        font-size: 2em;
        margin-top: -15px;
      }
      p {
        font-size: 1.4em;
        margin-bottom: 1.5em;
      }
      i {
        align-self: center;
        font-size: 4em;
        color: #eee;
      }
    }
    .blog {
      height: 14em;
      padding-top: 2em;
      margin-bottom: 1em;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      p {
        font-size: 1.4em;
        margin-top: 0;
        color: #333;
      }
    }
    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      height: 25em;
      background-color: #eee;
      h2 {
        width: 100%;
        font-size: 2em;
        color: #333;
        line-height: 1.4em !important;
      }
      img {
        display: none;
        position: absolute;
        top: 50%;
        left: 25%;
        width: 96px;
        height: 96px;
        padding: 1.5em;
      }
    }
    .projects {
      width: 100%;
      height: 14em;
      margin: 1em 0;
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
  }
  footer {
  }
}
//Things to change in media queries:
//All section lengths
//nav drawer size
//centering of text