* {
  font-family: Open Sans, sans-serif;
  color: #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  padding: 16px;
}
.title {
  color: #333;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 0;
}
.about h2,
#projects h2 {
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 5px;
  max-width: 520px;
}
.container {
  padding-top: 250px;
  max-width: 650px;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 520px;
}
.social a,
.social span {
  margin: 0 5px;
}
.twitter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
}
.twitter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -4px;
  background: #55acee;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.twitter:active:before,
.twitter:focus:before,
.twitter:hover:before {
  right: 0;
}
.github {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
}
.github:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -4px;
  background: #767676;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.github:active:before,
.github:focus:before,
.github:hover:before {
  right: 0;
}
.linkedin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
}
.linkedin:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -4px;
  background: #0077b5;
  height: 5px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.linkedin:active:before,
.linkedin:focus:before,
.linkedin:hover:before {
  right: 0;
}
.projects-list {
  margin-top: 100px;
}
#projects a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
}
#projects a,
#projects a:before {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#projects a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #0c78cf, #3fa8f3 90%, #fff);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#projects a:active,
#projects a:focus,
#projects a:hover {
  color: #fff;
}
#projects a:active:before,
#projects a:focus:before,
#projects a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.about {
  margin: 50px 0;
}
footer {
  border-top: 1px solid #333;
  padding-top: 15px;
}
@media (min-width: 520px) {
  .container {
    margin-left: 50px;
  }
  .title {
    font-size: 7rem;
  }
}
@media (min-width: 800px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
