@import 'normalize/import-now';
@import 'colorpalette';
$nav-size: 40%;
$body-size: 100% - $nav-size;

* {
  font-family: "Roboto",sans-serif;
  box-styling: border-box;
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
nav {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 100%;
  width: $nav-size;
  height: 100%;
  background-color: #424242;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  h2 {
    margin: 3px 5px 5px 10px;
    color: #eee;
  }
  a {
    button {
      display: flex;
      width: 100%;
      height: 60px !important;
      text-decoration: none;
      color: #eee !important;
    }
    i {
      color: #eee;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    img {
      height: 20px;
      width: 20px;
      margin-right: 5px;
    }
  }
}
body.show_sidebar nav {right: $body-size;}
body.show_sidebar .wrapper {
  margin-left: $nav-size - 1.5%;
  width: $body-size;
}
.wrapper {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  header{
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-item: center;
    height: 3.5em;
    //background-color:$primary-color500;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    i {
      cursor: pointer;
      display: inline-block;
      width: 50px;
      color: #fff;
      margin-left: 16px;
    }
  }
  main {
    width: 90vw;
    .about {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 30em;
      padding: 7em 16px;
      overflow-x: visible;
      background: url(../img/heroimage.jpg) #d9d9d9 fixed no-repeat;
      background-size: 2000px;
      background-position: 50% 40%;
      h1, h2, p {
        color: #eee;
        margin: 0;
      }
      h1 {
        font-size: 4em;
        font-weight: bold;
        margin-top: 15px;
      }
      h2 {
        font-size: 2em;
        font-weight: bold;
        margin-top: -15px;
      }
      p {
        font-size: 1.4em;
        margin-bottom: 1.5em;
      }
      i {
        align-self: center;
        font-size: 4em;
        color: #eee;
      }
    }
    .blog {
      width: 100%;
      height: 14em;
      padding: 3em 16px;
      overflow-x: visible;
      p {
        font-size: 1.4em;
      }
    }
    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      height: 35em;
      padding: 3em 16px;
      background-color: #424242;
      h2 {
        font-size: 2em;
        color: #eee;
      }
      img {
        width: 20%;
        height: 20vw;
        padding: 1.5em;
        &:hover {
          width: 25%;
          height: 25vw;
          padding: 0.8em;
          background-color: rgba(255,255,255,0.6);
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: all .5s ease;
        }
      }
    }
  }
  footer {
    
  }
}